</body>

<footer class="bg-indigo-900 text-cyan-600">
    <div class="flex flex-col justify-center items-center gap-5 p-4">
        <div class="mt-5 md:mt-7 text-2xl font-semibold text-pink-300">
            Youtube Subscriber 
        </div>
        <div class="flex justify-center items-center gap-1">
            <a class="ml-4 md:mx-5 hover:text-pink-400" href="https://github.com/mky120799"
                target='_blank'>
                <i class="fab fa-github text-2xl"></i>
            </a>
            <a class="ml-4 md:mx-5 hover:text-pink-400" href="https://www.linkedin.com/in/yadav11"
                target='_blank'>
                <i class="fab fa-linkedin text-2xl"></i>
            </a>
            <a class="ml-4 md:mx-5 hover:text-pink-400" href="https://www.youtube.com/@pkyadav6230"
                target='_blank'>
                <i class="fab fa-youtube text-2xl"></i>
            </a>
            <a class="ml-4 md:mx-5 hover:text-pink-400" href="https://x.com/Mithile09033566"
                target='_blank'>
                <i class="fab fa-twitter text-2xl"></i>
            </a>
           
            <a class="ml-4 md:mx-5 hover:text-pink-400" href="https://www.instagram.com/mky120799?igsh=MWM0ZWY3MmRnYW0waA=="
                target='_blank'>
                <i class="fab fa-instagram text-2xl"></i>
            </a>
        </div>
        <div class=" mb-5 text-light text-pink-200 flex flex-col md:flex-row md:gap-3 justify-center items-center">
            <span>&copy; <%= new Date().getFullYear() %></span>
            <span>All rights reserved.</span>
            <span>Get Youtube Subscriber</span>
        </div>
    </div>
</footer>


</html>